.banner {

    height: 85px;
    background: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;

}

.banner-track {
    display: inline-flex;
    margin: 5px;
    gap: 95px;
    animation: scrollBanner 15s linear infinite;
    font-size: 60px;
}

/* กำหนดเพื่อเล่น banner scrolling */
.banner span {
    font-weight: 600;
    letter-spacing: 2px;
}

@keyframes scrollBanner {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}