.faq {
    background: black;
    color: white;
    padding: 80px 10%;
    font-family: Arial, sans-serif;
}

.faq h2 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
}

.faq-sub {
    text-align: center;
    color: #aaa;
    margin: 15px 0 40px;
}


.faq-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

/*  ส่วน tab ที่สามารถเลือกเพื่อเเสดง FAQ ที่เกี่ยวข้อง
 โดยจะสามารถ hover เเละ active(click) เพื่อเปลี่ยนสีปุ่ม*/

.tab-btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #555;
    background: #111;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active,
.tab-btn:hover {
    background: white;
    color: black;
}


.faq-item {
    border-bottom: 1px solid #333;
}

.faq-question {
    width: 100%;
    padding: 20px 0;
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    color: #aaa;
    font-size: 14px;
    padding-right: 30px;
}


.faq-item.active .faq-answer {
    max-height: 200px;
    margin-bottom: 20px;
}

/* เป็นตัวที่ใช่สำหรับเเสดง animation สำหรับการหมุนขึ้นลงของ icon  */
.faq-item.active .icon {
    transform: rotate(180deg);
}

.icon {
    transition: 0.3s;
}