.inquiry {
    padding: 100px 8%;
    font-family: Arial, sans-serif;
}

.inquiry-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.inquiry-left {
    width: 35%;
}

.inquiry-left h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.inquiry-left p {
    color: #555;
    line-height: 1.6;
}


.inquiry-right {
    width: 60%;
}

.radio-group {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.radio-group input {
    margin-right: 8px;
}


.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 13px;
    color: #777;
    margin-bottom: 8px;
}


.form-group input,
.form-group select {
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    padding: 8px 0;
    font-size: 14px;
    outline: none;
}

.form-group input:focus,
.form-group select:focus {
    border-bottom: 1px solid black;
}


.checkbox {
    margin: 20px 0 40px;
    font-size: 14px;
}

.checkbox input {
    margin-right: 8px;
}


.send-btn {
    background: black;
    color: white;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
}

.send-btn:hover {
    background: #333;
}