/* สำหรับ nav ฝั่ง mobole */
.mobile-menu-btn {
    display: none;
    cursor: pointer;
}

.mobile-menu-btn img {
    width: 22px;
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    z-index: 9999;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
    padding: 20px;
}

.mobile-menu.active {
    transform: translateY(0);
}


.mobile-menu-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-header .navbar-left,
.mobile-menu-header .navbar-right {
    display: flex;
    align-items: center;
}

.close-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}



.mobile-menu-list {
    list-style: none;
    text-align: center;
    margin-top: 80px;
    padding: 0;
}

.mobile-menu-list li {
    margin: 22px 0;
    font-size: 18px;
    letter-spacing: 1px;
}



.mobile-editorial-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.mobile-editorial.active .mobile-editorial-list {
    max-height: 400px;

}

.mobile-editorial-title {
    cursor: pointer;
    font-weight: 600;
}

.mobile-editorial-list li {
    margin: 14px 0;
    font-size: 14px;
    letter-spacing: 1px;
}

/* เพื่อกำหนดเมื่อเปลี่ยนเป็น mobile view */
@media (max-width: 768px) {


    /* header */
    .navbar {
        padding: 15px 20px;
    }

    .main-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }



    .header-actions {
        gap: 10px;
    }


    /*  section
    - Hero Banner รองรับการแสดงผลได้ทั้ง Image และ Video (MP4)
    - card New ที่มี Title แบบ Sticky (ดูการทำงานจาก Prototype)
    - card Bestseller
    - card collection01 ที่ ที่เมื่อไป hover เเล้ว card จากรูปจะเปลี่ยนเป็นวิดีโอ
    - card collection02 เเละ collection03 ที่เมื่อไป hover เเล้ว card จากรูปจะเปลี่ยนเป็นภาพ collection-hover
    - banner ที่เป็น Scrolling Text (ดูการทำงานจาก Prototype)
    - features section ที่เเสดงข้อมูลต่าง ๆ ในรูปเเบบ column
    - FAQ section ที่มี Tab สำหรับแบ่งหมวดหมู่คำถาม (เช่น Orders, Shipping, Returns & Exchanges, Sizing & Products) 
     และแสดงรายการคำถาม-คำตอบด้านล่างในรูปแบบ Accordion (กดเปิด-ปิดได้)
    -. Inquiry section ที่มี form สำหรับใกรอกข้อมูลด้วย input รูปเเบบต่างๆ
    */


    /* hero */
    .hero {
        height: 90vh;
    }

    .hero-title {
        position: fixed;
        font-size: 48px;
        top: 50px;
        letter-spacing: 3px;
    }

    /* card New, card Bestseller ,card collection01,card collection02 เเละ collection03 */
    .section {
        padding: 60px 20px;
    }

    .card-new {
        width: 100%;
        height: auto;
    }

    .overlay-text {
        font-size: 28px;
    }

    .overlay-text.small {
        font-size: 22px;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* banner */
    .banner {
        height: 60px;
    }

    .banner-track {
        font-size: 28px;
        gap: 40px;
        margin-top: 15px;
    }

    .banner span img {
        width: 35px;
        height: 35px;
    }
    /* features */

    .features {
        flex-direction: column;
        gap: 40px;
        padding: 60px 20px;
    }

    .features div {
        text-align: left;
        max-width: 100%;
    }

    /*  FAQ */
    .faq {
        padding: 60px 20px;
    }

    .faq h2 {
        font-size: 22px;
    }

    .faq-tabs {
        gap: 8px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tab-btn {
        font-size: 12px;
        padding: 8px 14px;
    }

    /* inquiry */
    .inquiry {
        padding: 60px 20px;
    }

    .inquiry-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .inquiry-left,
    .inquiry-right {
        width: 100%;
    }

    .inquiry-left h2 {
        font-size: 28px;
    }

    .form-row {
        flex-direction: column;
        gap: 20px;
    }

    .radio-group {
        gap: 20px;
    }

    .send-btn {
        width: 100%;
    }

    /* footer */
    .footer {
        padding: 40px 20px;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .newsletter {
        grid-column: 1 / -1;

    }

    .newsletter input {
        width: 100%;

    }

    .homepage {
        margin: 20px;
        text-align: left;
    }
}